.locks
# English Corpus
datasets--cerebras--SlimPajama-627B
english

# Math Corpus
datasets--hoskinson-center--proof-pile
math

# Python Corpus
python-dataset
new-python-dataset


# caches
__pycache__
# virtual environment
myvenv

# environment variable
.env

# repositories idre
repo-id

models