.locks
# English Corpus
datasets--cerebras--SlimPajama-627B

# Math Corpus
datasets--hoskinson-center--proof-pile

# Python Corpus
python-dataset

# caches
__pycache__
# virtual environment
privateVenv

# environment variable
.env